Django==1.7
-e git+git@github.com:Karmak23/django-timelinejs.git#egg=Django_TimelineJS-master
django-bootstrap3==4.11.0
django-geojson==2.6.0
django-grappelli==2.5.3
django-jsonfield==0.9.13
django-leaflet==0.14.1
ipython==2.2.0
jsonfield==1.0.0
six==1.7.3
wsgiref==0.1.2
